body {
    padding-top: 100px;
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}
p {
    opacity: 85%;
}
ul {
    padding-left: 0;
}
ul  li {
    list-style-type: none;
    opacity: 85%;
}
p a {
    color: inherit;
    text-decoration: underline;
}
a:hover {
    color: inherit;
}
.project-img {
    height: 380px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    transition: 0.5s;
}
/*
.project-img:hover {
    transform: scale(1.05);
}
*/
.logo {
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
    transition: 1s;
}
.logo:hover {
    background-color: black;
    color: white !important;
}
.links {
    display: inline;
}
.links a {
    color: black;
    opacity: 25%;
    font-size: 30px;
    margin-right: 10px;
    transition: 1s;
}
.links a:hover {
    opacity: 75%;
}