/* CSS HTML Tags */
body {
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}
p {
    opacity: 75%;
}
ul {
    padding-left: 0;
}
ul  li {
    list-style-type: none;
    opacity: 75%;
}
p a {
    color: inherit;
    background-color: #e9ecef;
    transition: 0.5s;
}
p a:hover {
    color: inherit;
    background-color: yellow;
}
a {
    color: inherit;
}
a:hover {
    color: inherit;
    text-decoration: none;
}
footer {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 14px;
}
/* CSS Logo */
.logo {
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px;
    transition: 1s;
}
.logo:hover {
    background-color: black;
    color: white !important;
}
/* CSS View */
.btn-view {
    display: inline-block;
    border-bottom: 2px solid black;
    font-weight: 700;
    padding-bottom: 4px;
    opacity: 100;
    transition: 0.5s;
}
.btn-view:hover {
    background-color: yellow;
}
.project:hover > .project-img {
    transform: scale(1.02);
}
.project:hover > .btn-view {
    background-color: yellow;
}
/* CSS Links */
.links {
    color:  #ced4da;
    font-size: 30px;
    margin-right: 10px;
    transition: 1s;
}
.links:hover {
    color: black;
}
/* CSS Arrows */
.arrow {
    color:  #ced4da;
    font-size: 30px;
    transition: 1s;
}
.arrow:hover {
    color: black;
}
/* CSS Project Images */
.project-img {
    height: 380px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    transition: 0.3s;
}
/* CSS Crop Thumbnails */
#gallery {
    cursor: pointer;
}
.carousel-item img {
    width: 100hw;
    object-fit: cover;
}
@media (min-width: 768px) {
    .modal-xl {
      width: 90%;
     max-width:1000px;
    }
  }
/* Margins */
.my-spacing {
    margin-top: 5rem;
    margin-bottom: 5rem;
}